page-about {
  .img-profile {
    width: 100%;
    text-align: center;
    margin: 0 !important;
  }
  .profile-img-item {
    border-radius: 500rem;
    max-width: 30rem;
  }

  // Social
  .profile-social-container {
    text-align: center;
  }
  .social-item{
    float: left;
  }

}
