<ion-header>
    <ion-navbar>
        <ion-title>
            About
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--Profile image-->
    <figure class="img-profile">
        <img class="profile-img-item" src="../../img/profile.jpg" alt=""/>
    </figure>
    <section class="profile-social-container">
        <div class="">
            <ul class="social">
                <li class="social-item">
                    <a href="#">
                        <img class="social-item-img" src="../../img/linkedin.png" alt=""/>
                    </a>
                </li>
                <li class="social-item">
                    <a href="#">
                        <img class="social-item-img" src="../../img/gitlab_logo.png" alt=""/>
                    </a>
                </li>
                <li class="social-item">
                    <a href="#">
                        <img class="social-item-img" src="../../img/twitter.png" alt=""/>
                    </a>
                </li>
            </ul>

            <p>&copy; 2017 Marine Landraudie.</p>

        </div>
    </section>
    <div class="main-title">
        <h1>Who am I</h1>
        <div class="divider">
            <div class="zigzag large clearfix " data-svg-drawing="yes">
                <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
<path d="M1.357,12.26 10.807,2.81 20.328,12.332
	29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
</svg>
            </div>
        </div>


        <div class="content">

            <!--Block content-->
            <div class="block-content margBSmall">

                <div class=" profile margBSmall">
                    <h1>Marine Landraudie</h1>
                    <h3>Mobile app developer / Web developer</h3>
                </div>

                <!--Row-->
                <div class="row">
                    <div class="col-md-6">
                        <p>Étudiante en Licence professionnelle SIL Développement d'Applications Mobile à
                            l'IUT de Sophia Antipolis, je me perfectionne dans la conception, le
                            développement de projet web et/ou mobiles.
                            Il me plait de faire de la veille technique afin de me tenir à jour de
                            l'évolution et des nouveauté de tous ce qui touche mon domaine de compétences.
                        </p>
                    </div>


                    <div class="col-md-6">
                        <p>Mon profil présente la particularité d'avoir de l'expérience professionnelle
                            dans de multiples domaine comme de la gestion de projet par exemple.
                            En plus du développement j'ai aussi un attrait particulier pour ce qui touche
                            le design ou l'UX manière général, et tâche de réaliser des projets aussi beaux
                            que fonctionnels.</p>
                    </div>


                </div>
                <!--End row-->

            </div>
            <!--End block content-->


            <!--Block content-->
            <div class="block-content">

                <div class="info">

                    <!--Row-->
                    <div class="row">
                        <div class="col-md-6">

                            <ul class="info-list clearfix">
                                <li><span class="inf">Name </span> <span class="value"> Marine Landraudie </span></li>
                                <li><span class="inf">Date of birth</span> <span
                                        class="value"> August 28th, 1990 </span></li>
                                <li><span class="inf">Address</span> <span class="value"> Biot (06) </span></li>
                            </ul>

                        </div>


                        <div class="col-md-6">

                            <ul class="info-list">
                                <li><span class="inf">Email</span> <span
                                        class="value">marine.landraudie@gmail.com</span></li>
                                <li><span class="inf">Phone</span> <span class="value"> +33 625 237 063	</span></li>
                                <li><span class="inf">Skype</span> <span class="value">Marine.landraudie.tic</span></li>
                            </ul>

                        </div>


                    </div>
                    <!--End row-->

                </div>

            </div>
            <!--End block content-->


        </div>
        <!--End content-->


        <!--Main title-->

        <div class="main-title">
            <h1>professional skills</h1>
            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
	<path d="M1.357,12.26 10.807,2.81 20.328,12.332
		29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
	</svg>
                </div>


            </div>


        </div>

        <!--End main title-->


        <!--Content-->
        <div class="content">

            <!--Block content-->
            <div class="block-content margBMedium">


                <!--Skill design-->
                <div class=" skill des">


                    <!--Row-->
                    <div class="row ">

                        <div class="vc">

                            <div class="col-md-11">

                                <ul class="skills-list clearfix">
                                    <li>
                                        <h4>HTML / CSS</h4>
                                        <div class="progress">
                                            <div class="percentage">
                                                90%
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>JavaScript</h4>
                                        <div class="progress">
                                            <div class="percentage">
                                                75%
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>PHP / MySQL</h4>
                                        <div class="progress">
                                            <div class="percentage">
                                                40%
                                            </div>
                                        </div>
                                    </li>


                                </ul>

                            </div>


                            <div class="col-md-1">
                                <div class="title des">
                                    <span>mobile</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--End row-->

                </div>
                <!--End skill design-->

            </div>
            <!--End block content-->


            <!--Block content-->
            <div class="block-content margBMedium">


                <!--Skill design-->
                <div class=" skill dev">


                    <!--Row-->
                    <div class="row">

                        <div class="vc">

                            <div class="col-md-11">

                                <ul class="skills-list clearfix">
                                    <li>
                                        <h4>Android</h4>
                                        <div class="progress">
                                            <div class="percentage">
                                                90%
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>iOS</h4>
                                        <div class="progress">
                                            <div class="percentage">
                                                75%
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>cross platform</h4>
                                        <div class="progress">
                                            <div class="percentage">
                                                30%
                                            </div>
                                        </div>
                                    </li>


                                </ul>

                            </div>


                            <div class="col-md-1">
                                <div class="title dev">
                                    <span>mobile</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--End row-->

                </div>
                <!--End skill design-->

            </div>
            <!--End block content-->


            <!--Block content-->
            <div class="block-content">


                <!--Skill design-->
                <div class=" skill prs">


                    <!--Row-->
                    <div class="row ">

                        <div class="vc">

                            <div class="col-md-11">

                                <ul class="skills-list clearfix">
                                    <li>
                                        <h4>Autonomous</h4>
                                        <div class="progress">
                                            <div class="percentage">
                                                85%
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>Creative</h4>
                                        <div class="progress">
                                            <div class="percentage">
                                                75%
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>Multitasking</h4>
                                        <div class="progress">
                                            <div class="percentage">
                                                90%
                                            </div>
                                        </div>
                                    </li>


                                </ul>

                            </div>


                            <div class="col-md-1">
                                <div class="title prs">
                                    <span>assets </span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!--End row-->

                </div>
                <!--End skill design-->

            </div>
            <!--End block content-->


        </div>
        <!--End content-->


        <!--Main title-->

        <div class="main-title">
            <h1>experience</h1>
            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
	<path d="M1.357,12.26 10.807,2.81 20.328,12.332
		29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
	</svg>
                </div>
            </div>
        </div>

    </div>

</ion-content>
