<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="About" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Portfolio" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="More" tabIcon="more"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Contact" tabIcon="call"></ion-tab>
</ion-tabs>
